* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: bisque;
    text-align: center;
    line-height: 50px;
}